.body {
    background-color: #2F3336;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    width: 100vw;
    height: 100vh;
}

.dropdown {
    width: 180px;
    height: 62px;
}
.body ul li {
    display: inline-block;
}

.nav-tabs {
    width: 581px;
    height: 62px;
    background-color: rgb(248, 248, 253);

}

.tab-content {
    width: 581px;
    height: 460px;
    padding: 16px;
}

.nav-link {
    width: 129.25px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: normal;
    font-style: normal;
    margin-bottom: 20px;
}
h2 {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: .16px;
    font-style: normal;
    display: inline-block;
    width: 100%;
    color: #020309;
    margin: 0 0 4px;
}
.table-description {
    font-size: 18px;
    font-weight: 400;
    margin: 5px;
}
.tab-pane {
    text-align: left;
    margin: 5px;
}

.row {
    width: 581px;
}

.row select {
    width: 262.5px;
    height: 44px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.form-group {
    width: 262.5px;
    height: 44px;
}

.form-group select {
    width: 129px;
    height: 44px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

.results {
    width: 262.5px;
    height: 44px;
    Background: red;
    color: white;
    margin-top: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advanced-search {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: normal;
    font-style: normal;
    min-height: 44px;
    height: 44px;
    margin-top: 42px;

}
